---
title: Ghidurile
permalink: /ghidurile/index.html
description: 'Lista ghidurilor pe care le vând prin intermediul site-ului beldie.ro'
layout: page
sizes: '(max-width: 615px) 50vw, 100vw'
widths: [400, 520]
---
<p>
  Toate ghidurile mele sunt în format electronic și sunt livrate automat pe adresa de email folosită când plătești. Dacă ai vreo nelămurire legată de ghiduri, <a href="https://beldie.ro/contact/">dă-mi acum un mail</a>.
</p>
<p>
Fiecare dintre aceste ghiduri rezolvă una sau mai multe dintre problemele cu care te confrunți. Nu există un ghid mai bun decât altul, există doar oameni mai dispuși să-și îmbunătățească situația. Dacă ești o astfel de persoană, ai mai jos ajutorul meu.
</p>

<article class="full  section" style="--spot-color: var(--color-bg-accent)">
  {% svg "divider/soft-top", null, "divider" %}

  <section class="feature section__inner wrapper">
    <h2>Ce te interesează?</h2>
    <div
      class="feature grid region"
      style="--region-space-top: var(--space-xl); --gutter: var(--space-xl) var(--space-xs)"
    >
      <!-- you find tha data for that in src/_data/builtwith.json -->
      {% for site in builtwith | shuffle %}
        <custom-card clickable img-square class="text-step-min-1" style="--card-bg: var(--color-bg)">
          {% image "./src/assets/images/screenshots/" + site.filename + ".jpg", site.name, null, "lazy", null, null, widths, sizes %}
          <h3 slot="headline" class="text-step-min-1">{{ site.name }}</h3>

          <p slot="content">{{ site.description }}</p>
          <footer slot="footer" class="repel">
            <a class="no-indicator" href="{{ site.link }}">{{ site.link | replace("https://", "") }}</a>
            {% if site.builtbylene %}
              <span class="gradient-text-linear">built by Lene</span>
            {% endif %}
          </footer>
        </custom-card>
      {% endfor %}
    </div>
  </section>

  {% svg "divider/soft-bottom", null, "divider" %}
</article>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
