---
layout: base
permalink: /index.html
title: 'Pixel vs Neuron'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">Numele meu este Ștefan Beldie, dar...</h2>
      <p>
       Unii mă numesc "individul acela arogant care zice că îmi irosesc viața online în loc să fac lucruri utile acolo".
      </p>
      <p>
        Desigur, sunt psiholog.
      </p>
       <p>
        Iar asta explică multe, inclusiv faptul că <strong>Pixel vs Neuron</strong> este un newsletter despre impactul noilor tehnologii asupra minții tale. Abonează-te acum și învață să folosești tehnologia în loc să te lași folosit de aceasta:
      </p>
      <p style="text-align:center;">
      <a href="https://beldie.berserkermail.com/join?ref=beldie.ro" class="button" data-button-variant="secondary">Vreau email-urile!</a>
      </p>
  </article>


